<nav class="navbar navbar-expand-lg navbar-light " style="background-color:white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a mat-button class="nav-link" routerLink="" data-toggle="collapse"
                data-target=".navbar-collapse.show">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a mat-button class="nav-link" routerLink="/author" data-toggle="collapse"
                data-target=".navbar-collapse.show">Main Menu </a>
        </li>
    </ul>
    </div>
</nav>

<lottie-player slot="end" autoplay loop src="https://assets7.lottiefiles.com/packages/lf20_jysqpybu.json">
</lottie-player>
<router-outlet></router-outlet>